BOT_TOKEN=PASTE_YOUR_TELEGRAM_BOT_TOKEN
ADMIN_ID=123456789
YUKASSA_SHOP_ID=YOUR_SHOP_ID
YUKASSA_SECRET_KEY=YOUR_SECRET_KEY
MIN_DEPOSIT=150
CURRENCY=RUB
MANAGER_USERNAME=@yaroslav_blog1
CHANNEL_USERNAME=
REFERRAL_BONUS=100
REFERRAL_BONUS_NEW=50
